.App {
  text-align: center;
  margin:0 auto;
  max-width: 1200px;
  padding:0 20px;
}

#tsparticles {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
}

.image-uploaded {
  max-width: 300px;
  position: absolute;
  top:30%;
}

.age {
  display: inline-block;
  background-color: navy;
  padding: 5px 10px;
}